body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

@font-face {
  font-family: 'vespa';
  src:
    url('./fonts/webfonts_vespa/vespa.ttf.woff') format('woff'),
    url('./fonts/webfonts_vespa/vespa.ttf.svg#vespa') format('svg'),
    url('./fonts/webfonts_vespa/vespa.ttf.eot'),
    url('./fonts/webfonts_vespa/vespa.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.reserve-button {
  margin-top: 50%;
  background-color: rgb(158, 206, 63);
  border-radius: 30px;
  text-decoration: none;
}

.details-image {
  width: 70%;
}

.details-sideview {
  width: 30%;
}

.show-motor {
  margin-left: 5%;
  margin-top: 200px;
}

a {
  text-decoration: none;
}

.social-m {
  color: #d3d1d1;
}

.header-text2 {
  color: #c6c6c6;
}

.info {
  z-index: 3;
}
