@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

.active {
  background-color: hsl(74, 85%, 40%);
  color: white;
}

.active span {
  color: rgb(247, 240, 245);
}

a.small.active {
  background-color: white;
  color: hsl(74, 85%, 40%);
}
